.container{
	background-image: url("bicycleMan.gif");
	background-size: 600px 600px;
	
	height: 600px;
	width: 600px;
	
	color: white;
	text-align: center;
	font-family: Times;

	display: table;
}

.box{
	float: left;
}

.box:nth-child(odd){
	background-color: black;
}

.box:nth-child(even){
	background-color: red;
}

#status, .lev, .container{
	float: left;
}

hr{
	width: 90%;
}

.center{
	display: table-cell;
	vertical-align: middle;
}