.container{
	background-image: url("http://mypages.valdosta.edu/psmckinley/cat2.jpg");
	background-size: 600px 600px;
	
	height: 600px;
	width: 600px;
	
	color: black;
	text-align: center;
	font-family: Times;

	display: inline-block;
}

.box{
	float: left;
}

.box:nth-child(odd){
	background-color: black;
}

.box:nth-child(even){
	background-color: red;
}

#scores{
	float: left;
}